@charset "UTF-8";
/*!

Amol

Built upon BASSCSS (https://basscss.com/).

@author Amol Vyawhare <amol.vyawhare@outlook.com> (https://amol.me/)
@link https://github.com/amolrv/amolrv.github.io

*/

html,
body {
  height: auto;
  min-height: 100%;
}

img {
  max-width: 100%;
}

em img {
  max-width: 100%;
  margin-left: 0;
}

body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}