blockquote {
  border-left: 2px solid #7a7a7a;
  font-style: italic;
  margin: $space-2 0;
  -webkit-padding-start: 1em;
  padding-inline-start: 1em;
}

blockquote footer {
  background-color: #fff;
  border-color: transparent;
  color: #7a7a7a;
  font-size: .85rem;
  font-style: normal;
  text-align: left;
  padding: 0;
}
