
@media screen and (max-width: $viewport-small) {
  html {
    font-size: 14px;
  }
  h1,
  .h1 {
    font-size: $h1;
  }

  .site-nav {
    margin-top: 0;
  }

  .site-header a {
    font-size: $h4;
  }

  .social-icons-left {
    text-align: left;
  }

  .social-icons-right {
    text-align: right;
  }
}

@media screen and (min-width: $viewport-medium) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: $viewport-large) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: $viewport-large + 14) {
  em img {
    max-width: $measure-width + 14;
    margin-left: -7em;
  }
}

:root {
  --color: #222;
  --bg-color: #eee;
}
@media (prefers-color-scheme: dark) {
  :root {
      --color: #ccc;
      --bg-color: #222;
  }
}