
.posts {
  margin: 0;
}

.posts .post {
  margin-bottom: 0.75em;
  border-bottom: thin solid silver;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .375em;
  padding-bottom: 0;
}

.post-link .post-title {
  margin: 0;
  font-weight: 600;
  color: var(--color);
}

.post-footer {
  margin-top: .75rem;
  text-align: center;
}

.post-header {
  text-align: center;
  .avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    filter: brightness(.8);
  }
  > a {
    color: $footer-color;
    background-image: none;
  }
}
.post-footer .avatar {
  margin: 2rem 0;
  width: 100px;
  border-radius: 50%;
  filter: brightness(.8);
}

.meta,
.post-meta {
  width: auto;
  font-weight: 300;
  margin: 0;
  padding: .25em 0;
  color: $footer-color;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}

@media print {
  .utterances {
    display: none;
  }
}
