
.posts {
  margin: 0;
}

.posts .post {
  margin-bottom: 0.75em;
  border-bottom: thin solid #f3f3f3;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .375em;
  padding-bottom: 0;
}

.post-link .post-title {
  margin-top: 0;
  font-weight: 600;
  color: #333;
}

.post-footer {
  @extend .italic;

  margin-top: .75rem;
  text-align: center;
}

.post-header .avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  filter: brightness(.8);
}
.post-header a {
  color: $footer-color;
  background-image: none;

}
.post-footer .avatar {
  margin: 2rem 0;
  width: 100px;
  border-radius: 50%;
  filter: brightness(.8);
}

.meta,
.post-meta {
  width: auto;
  font-weight: 300;
  margin: 0;
  padding: .25em 0;
  color: $footer-color;
  font-style: italic;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}
