---
layout: compress
---

<!doctype html>
<html lang="en">

{% include head.html %}

<body>

  <div class="container content">
    <header class="masthead noprint">
      <!-- Change navigation links here -->
      <div class="navigation">
        <ul id="navigation-list">
          <li><a href="{{ site.baseurl }}/" title="Home"><img class="brand-icon" src="{{ site.baseurl }}/assets/apple-touch-icon.png" alt="" > Home</a></li>
          <li><a href="/blog/" title="Blog">Blog</a></li>
        </ul>
      </div>

    </header>

    <main>
      {{ content | smartify }}
    </main>

    <footer class="footer">
      Copyright © 2020 - 2021, Amol Vyawhare
    </footer>
  </div>
  <script>
    if (anchors) anchors.add(); // h2..6
  </script>
</body>

</html>